$margin_left: 2rem;

.nav-bar-advanced-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.nav-bar-advanced-search > img {
  height: 1.5rem;
}

.app-bar {
  margin: 1.5rem $margin_left;
  color: #d93025;
  font-size: 1.25rem;
}

hr {
  border: none;
  height: 1px;
}

.form {
  margin-left: $margin_left;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 40rem;
}

input {
  border: 1px solid #d93025;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

@media (prefers-color-scheme: dark) {

  body {
    color: white;
  }

  input {
    background-color: #121212;
    color: white;
    border-color: #202124;
  }

  hr {
    background-color: rgb(54, 58, 60);
  }
}

@media (prefers-color-scheme: light) {
  hr {
    background-color: #ebebeb;
  }
}